{% extends 'core/base.html' %}
{% load static %}
{% block title %} Busqueda{% endblock %}
{% block content %}
{% if  request.user.is_authenticated %}
      {%include 'registration/includes/publication_menu.html'%}
       {% endif %}


  <style>
input[type=text], select {
  width: 290px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #FFFF;
}

button[type=submit] {
  width: 20%;
  background-color: #2271b3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


  </style>

<main role="main">
   
  <div class="container mb-4 bg-3">

    <h2>Publicaciones</h2>     
       
      <form action="" method="get" >
        <label  for="fname">Nombre:</label>
        {{ fil.form.user__username  }} 
            
                 <label >Titulo:</label>
                {{ fil.form.title  }} 
               <label >Categoria:</label>
                {{ fil.form.estatus  }} 
              <button type="submit">Buscar</button>
      </form>
      
    <b>{% for publication in filter %} </b>
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        
        <h2 class="mb-4">{{publication.title}}</h2>
         <h4 class="mb-4">Autor:  {{publication.user}} | Categoria: {{publication.estatus}} </h4>
       
           <div>

              <p>{{publication.content|striptags|safe|truncatechars:"200"}}</p>
              <p><a href="{% url 'info:detail' publication.id|slugify %}">Leer más</a>
                  
                 
            
            
                 {% with user.get_username|slugify as total %}
             
                 {% with publication.user|slugify as tot %}
                     
                     {% if total == tot %}
                 
                 | <a href="{% url 'publication' user.get_username publication.id %}">Para editar dar click aqui</a>

                  | <a href="{% url 'publication_delete' user.get_username publication.id %}">Borrar</a>
               
                   
                  {% else %}
                     

                  {% endif %}

                  {% endwith %}
                      
                  {% endwith %}
              
          
            
            </div>
        </div>
      </div>
  
    
    {% endfor %}

       

    <br>


  {% if filter.has_other_pages %}
  <ul class="pagination">
    {% if filter.has_previous %}
      <li><a href="?page={{ filter.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in filter.paginator.page_range %}
      {% if filter.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if filter.has_next %}
      <li><a href="?page={{ filter.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

    </div>






  
</main>
 

{% endblock %}





