{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{publication.user}}{% endblock %}
{% block content %}

<main role="main">

  <div class="container bg-3" >
    <div class="row mt-3">
      <div class="col-md-10 mx-auto mb-5 ">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="row">
            
            <!-- Campos -->
         
             <div class="text-center">

              
               <h1>{% if publication.title %}<p>{{publication.title}}</p>{% endif %}


                


               </h1>

               {% if publication.imagen %}
                      <img src="{{publication.imagen.url}}" class="rounded mx-auto d-block" alt="Bird" width="250" height="250" ><br>

                      {% else %}
                     
                {% endif %}
               

                  <p class="profile-data">
                    
                    <a href="{% url 'profiles:detail' publication.user %}"> Autor: {{publication.user}}</a> | {{publication.created}}  {% with user.get_username|slugify as total %}
             
                 {% with publication.user|slugify as tot %}
                     
                     {% if total == tot %}
                 
                | <a href="{% url 'publication' user.get_username publication.id %}">editar</a>
               
                   
                     {% else %}
                     

                       {% endif %}

                  {% endwith %}
                      
                  {% endwith %}
                  </p>    



                   <a href="http://www.facebook.com/sharer/sharer.php?u=http://http://127.0.0.1:8000/{{ request.get_full_path|urlencode }}"> <img src="{% static 'registration/img/face.jpg' %}" width="80" height="40" alt="facebook" /></a>


                            <h4>
                              {% if publication.lugar %}<p>{{publication.lugar}}</p>{% endif %}

                              <a href="{{publication.maps}}"> <img src="{% static 'registration/img/maps.png' %}" width="40" height="40" alt="maps" /></a>
                            </h4>

                            <h4>
                              {% if publication.fecha %}<p>{{publication.fecha}}</p>{% endif %}
                            </h4>
                            <h4>

                              {% if publication.hora %}<p>{{publication.hora}}</p>{% endif %}
                            </h4>
                            <h4>

                             {% if publication.overview %}<p>{{publication.overview}}</p>{% endif %}



                            </h4>



                            <div class="container-fluid bg-2 text-center">

                            <h2>
                              DESCRIPCION
                            </h2>

                            
                              <p style="text-align:center;">{{publication.content|safe}}</p>
                            
                            
                            </div>
                            <h2>
                              ACTIVIDADES
                            </h2>
                            

                               <p style="text-align:right !important;">{{publication.actividades|safe}}</p>
                            

                            


                                    <div class="container-fluid bg-2 text-center">
                            <h2>
                              REQUISITOS
                            </h2>
                            
                            <p style="text-align:right !important;">{{publication.requisitos|safe}}</p>
                            
          
                            
                            
                               </div>
                            
                            <h2>
                            LOGISTICA
                            </h2>
                            

                               <p style="text-align:right !important;">  {{publication.logistica|safe}}</p>
                          
                            

                    
                          <div class="container-fluid bg-2 text-center">
                                   <h2>
                              DOCUMENTO CON MAS INFORMACION
                            </h2>    

                                {% if publication.upload %}
                           <br> <p>  <a href="  {{publication.upload.url}}"> Documento completo para descargar </a></p>
                              
                          {% else %}

                           <p>  No existe documento </p>
                            
                          {% endif %}

                                
                               
                        </div>
                              


            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}