{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear Reporte{% endblock %}
{% block content %}

<main role="main">
  <div class="container bg-3">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
        <h3>Reporte</h3>
        <p style="color:green;"> modificar estado </p>
       


         



      
        <form action="" method="post" enctype = "multipart/form-data">{% csrf_token %}
            

            {{form.as_p}}
          
          


           
          <div class="text-center">
            <input type="submit" class="btn btn-primary btn-block" value="Enviar" />
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}